---
import "../css/style.css";
const { title, img_url } = Astro.props;
---

<div class="card animate__animated">
  <div class="circle-image-profile">
    <img src={img_url} class="inner" alt="p-1" />
  </div>

  <div class="name-info">
    <h4 class="name">{title}</h4>
    <h5 class="level">WebDeveloper</h5>
  </div>
  <div>
    <p class="m-t-md">
      <strong>Twitter, Inc.</strong><br />
      795 Folsom Ave, Suite 600<br />
      San Francisco, CA 94107<br />
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </p>
  </div>
  <div class="social-icons">
    <div class="github">
      <i class="bi bi-github"></i>
    </div>
    <div class="linkedin">
      <i class="bi bi-linkedin"></i>
    </div>
    <div class="twitter">
      <i class="bi bi-twitter"></i>
    </div>
  </div>
</div>
