---
import roxy from "/assets/roxy.jpg";
---
<section class="body_section" id="galleries">
    <div class="body">
      <div class="body_image">
        <img src={roxy} alt="ROXY" />
      </div>
      <div class="body_content">
        <div class="first_body_content">
          <h1>Galleries</h1>
          <p>
            These are the gallery types you can use to showcase your work. Use
            one type, all three or create something completely new. These are
            quick links to a gallery canvas on this page. A little further down
            you can also list your project images and link these to a separate
            project page for more space. whatever you like!
          </p>
        </div>
        <div class="second_body_content">
          <div class="view_gallery">
            <h1>TILED GALLERY</h1>
            <a href="">
              <p>VIEW GALLERY</p>
            </a>
          </div>
          <div class="view_gallery">
            <h1>SLIDING GALLERY</h1>
            <a href="">
              <p>VIEW GALLERY</p>
            </a>
          </div>
          <div class="view_gallery">
            <h1>COLLAGE GALLERY</h1>
            <a href="">
              <p>VIEW GALLERY</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>