---
---

<section class="Our-team" id="our_teams">
  <div class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center py-5">
      <div class="row">
        <h1 class="mb-5 text-center">Our Team</h1>

        <div  class="col-6 col-md-3 d-flex flex-column align-items-center">
          <img
            class="rounded-circle profile-img"
            src="/assets/WNO.jpg"
            alt=""
          />
          <h4 class="mt-2 width-max">Wunna Oo</h4>
        </div>

        <div class="col-6 mb-3 mb-lg-0 col-md-3 d-flex flex-column align-items-center">
          <img
            class="rounded-circle profile-img"
            src="/assets/TTH.jpg"
            alt=""
          />
          <h4 class="mt-2 width-max">Thin Thiri Hlaing</h4>
        </div>

        <div class="col-6 col-md-3 d-flex flex-column align-items-center">
          <img
            class="rounded-circle profile-img"
            src="/assets/KHHHT.jpg"
            alt=""
          />
          <h4 class="mt-2 width-max">Khin Hme Hme Htun</h4>
        </div>

        <div class="col-6 col-md-3 d-flex flex-column align-items-center">
          <img
            class="rounded-circle profile-img"
            src="/assets/ETY.jpg"
            alt=""
          />
          <h4 class="mt-2 width-max">Ei Thawdar Yamin</h4>
        </div>
         
      </div>
      <div class="my-3">
        <a href="/our_team"><button class="btn">See More</button></a>
      </div>
    </div>
  </div>
</section>
